<h3 mat-dialog-title>Add Person</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="personForm">
  <mat-dialog-content>
    <!-- Name -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput/>
    </mat-form-field>

    <!-- Height -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Height</mat-label>
      <input formControlName="height" matInput type="number"/>
    </mat-form-field>

    <!-- Width -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mass</mat-label>
      <input formControlName="mass" matInput type="number"/>
    </mat-form-field>

    <!-- Birth Year -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Birth Year</mat-label>
      <input formControlName="birth_year" matInput type="number"/>
    </mat-form-field>

    <!-- Gender -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Gender</mat-label>
      <input formControlName="gender" matInput/>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button [disabled]="personForm.invalid" color="primary" mat-button type="submit">
      Save
    </button>
  </mat-dialog-actions>
</form>

