/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$blue-palette,
    typography: Roboto,
    density: 0
  ));
}

html, body {
  height: 100%;
}

body {
  margin: 20px;
  font-family: Roboto,
  "Helvetica Neue",
  sans-serif;
  background: #143C5BFF;
  //background: linear-gradient(#143C5BFF 0%, #1c2b4b 100%);
}
